<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NetworkingSample3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D27DFCB01C63C2FD00893615</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D27DFCC41C63C2FE00893615</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D27DFCCF1C63C2FE00893615</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
